/* Botones */
.btn {
    display: inline-block;
    background: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 15px; /* Espaciado */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    font-family: "Quicksand", sans-serif; /* Fuente */
    font-weight: 300; /* Peso de la fuente */
    line-height: 1.6; /* Altura de línea */
    transition: background 0.3s ease; /* Transición para el color de fondo */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.btn:hover {
    background: #0056b3; /* Color al pasar el ratón */
}

/* Botón Scroll To Top */
#scrollToTopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007bff; /* Color del botón */
    color: white; /* Color del ícono */
    border: none; /* Sin borde */
    border-radius: 50%; /* Botón redondo */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    font-size: 45px; /* Aumenta el tamaño del ícono */
    transition: background-color 0.3s ease; /* Efecto de transición para el color de fondo */
}

#scrollToTopBtn:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

.btn-demo, .btn-github {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #28666e; /* Cambia esto por el color que prefieras */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón Demo */
.btn-demo {
    background-color: #28666e;
}

.btn-demo:hover {
    background-color: #1b4a4e;
}

/* Estilo para el botón GitHub */
.btn-github {
    background-color: #333;
}

.btn-github:hover {
    background-color: #000;
}

.article-buttons {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 15px; /* Espacio por si el texto llega justo hasta arriba */
    flex-wrap: wrap; /* Si no caben, se ajustan */
}

.article-buttons a {
    white-space: nowrap; 
}