@import url(navbar.css);
@import url(buttons.css);
@import url(proyects.css);
@import url(footer.css);
@import url(skills.css);
@import url(contact.css);

/* Estilos Globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background: #f4f4f4;
    font-size: 25px; /* Tamaño base */
}

.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        font-size: 100%  ; /* Tamaño de fuente más pequeño en móviles */
    }
    
    .section {
        padding: 15px;
        margin: 15px auto;
        min-height: 60vh;
        max-width: 95%; /* Se ajusta aún más en pantallas pequeñas */
    }
}

/* Títulos */
h2 {
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-size: 2.5rem; /* Ajustado */
    color: #333;
}
