@import url(navbar.css);
@import url(buttons.css);
@import url(proyects.css);
@import url(footer.css);
@import url(skills.css);
@import url(contact.css);
/* Estilos Globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.6;
    background: #f4f4f4;
    font-size: 25px;
}


.section {
    list-style: none;
    padding: 20px;
    margin: 20px auto; /* Centra la sección horizontalmente */
    max-width: 800px; /* Limita el ancho para una mejor lectura en pantallas grandes */
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Se ajusta al 90% del ancho de la página */
    min-height: 70vh; /* Ocupa al menos el 70% de la altura de la ventana */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .section {
        padding: 15px;
        margin: 15px auto;
        min-height: 60vh;
        max-width: 95%; /* Se ajusta aún más en pantallas pequeñas */
    }
}





/* Títulos */
h2 {
    font-family: "Fira Code", monospace;
    font-weight: 700;
    /* Corregido */
    font-size: 50px;
    color: #333;
}